/* Dashboard Styles */
* { box-sizing: border-box; }
body {
  margin: 0;
  background: #f2f2f2;
  font-family: Arial, sans-serif;
  color:#222;
}

header {
  background: #003b75;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.logout {
  background: red;
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 20px;
  width: 300px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  text-align: center;
}

.numero {
  font-size: 32px;
  font-weight: bold;
}

.graficos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grafico-box {
  width: 550px;
  background: white;
  padding: 20px;
  margin: 20px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}
